.homepage {
  background-color: white;
  min-height: calc(100vh - 68px);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.homepage-content {
  text-align: center;
  max-width: 800px;
}

.homepage-content h1 {
  color: black;
  font-size: 3rem;
  margin-bottom: 1rem;
}

.homepage-content p {
  color: black;
  font-size: 1.25rem;
  line-height: 1.6;
}
